* {
    box-sizing: border-box;
}
body {
    background-color: #f4f1f0; 
    font-family: "Gamja Flower", sans-serif;
    color: #343231;
}
img {
    width: 350px;
    
    display: block;
}

main {
    margin: auto;
    position: relative;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
article {
    display: flex;
    width: 800px;
    height: 700px;
    padding: 20px;
    background-image: url(images/planner.png);
    background-repeat: no-repeat;
    background-size: 800px 700px;
    gap: 60px;
    
}
section {
    display: flex;
    flex-direction: column; 
    gap: 5px;
    max-height: 650px;
}
#planner {
    min-width: 350px;
    padding: 10px 0px 10px 10px;
}
#my-day {
    flex-grow: 1;
    justify-content: center;
}
#my-day div {
    margin-top: 25px;
}
.block:first-of-type {
    display: none;
}
.block{
    width: 100%;
    background-color: #f7efcb;
    border:4px transparent #f7e2a5;
    border-radius: 18px;
    padding: 5px;
    justify-content: flex-start;
    align-items: flex-start;
}
.block p {
    margin: 5px;
}

p {
    margin: 1px;
}
h1 {
    font-size: 40px;
}