/* CSS Resets */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Page styling */
body {
    background: #05112C;
    color: #FF619C;
    transition: all 2s;
    font-family: "Sen", sans-serif;
    font-weight: 400;
} 

body.switch {
    background-color: #FFFEEC;
    color: #647FC6;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

header {
    margin: 0 auto 4em auto;
    position: relative;
    z-index: 2;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
    gap: 20px;
}

main section {
    flex: 1;
    border: 2px #FF619C solid;
    border-radius: 32px;
    margin: 0 .25em;
    padding: 1.5em;
    z-index: 2;
}

main section.switch {
    border-color: #647FC6;
}

a {
    text-decoration: none;
    font-size: 16px;
}

nav ol, nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: #FF619C;
    position: relative;
}

section a::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--afterColor);
    bottom: 0;
    left: 10px;
    transition: width 0.4s ease-in-out;
}

section a:hover::after {
    width: 90%;
}

section.switch a {
    color: #647FC6;
}

section a.switch::after {
    background-color: #647FC6;
}


button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    background-color: #FF619C;
    color: #05112C;
    border-radius: 16px;
    border: transparent;
    z-index: 3;
}

button:hover {
    background-color: #DD5293;
}

button.switch {
    background-color: #647FC6;
    color: #FFFEEC;
}

button.switch:hover {
    background-color: #5774bf;
}

h1{
    font-family: "Roboto Mono", monospace;
    font-size: 92px;
    margin: 0;
    font-weight: 500;
}
h2 {
    font-size: 26px;
    font-weight: 400;
}
h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
}
img {
    position: absolute;
    width: 30%;
    z-index: 1;
}

#dark-images :first-child{
    bottom: 65%;
    right: 20%;
}
#dark-images :last-child{
    top: 80%;
    left: 10%;
    z-index: 3;
}
#light-images :first-child{
    bottom: 65%;
    right: 19%;
}
#light-images :last-child{
    top: 85%;
    left: 5%;
}
img.switch {
    display: none;
}