body {
    background-color: #f0f0f0;
}
section {
    position: relative;
    color: #212529;
    margin: auto;
}
.fa-expand {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 24px;
    cursor: pointer;
}
.fa-expand:hover {
    transform: scale(1.1);
}
video{
    width: 100%;
    right: 0;
    top: 0;
    
}
h1 {
    position: absolute;
    font-family: "Meow Script", cursive;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    transition: all 1s ease-in-out;
}
.hidden {
    opacity: 0;
}
.showing {
    opacity: 1;
}