* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}
body {
    font-family: "Instrument Serif", serif;
    font-weight: 200;
    font-style: normal;
}
main {
    display: flex;
    height: 100vh;
    
}
#textbox {
    background-color: #070214;
    width: 30%;
    padding: 32px;
    overflow: scroll;
}
p {
    font-size: 18px;
    color: #f5f3ed;
    
}

#environment {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
}
.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #faf9f7;
    position: absolute;
    top: 50%;
    right: 50%;
    transition: all .25s ease-in-out;
}
.circle:hover {
    border-width: 4px;
    cursor: pointer;
    
}
.disabled {
    opacity: 0.5;
}
.disabled:hover {
    color: #f5f3ed;
}
.circle:first-of-type { 
    display: none;
}
button {
    all: unset;
    font-size: 18px;
    color: #f5f3ed;
    
}
button:hover {
    color: #fc7323;
}
ul {
    list-style-type: '>   ';
}

li {
    font-size: 18px;
    color: #f5f3ed;
    
}
li:hover {
    color: #fc7323;
    cursor: pointer;
}